.ant-layout.ant-layout-has-sider.layout-cauHoi {
  border-top: 1px solid rgb(217, 217, 217);
  background-color: unset;
}

.layout-cauHoi .ant-layout-sider {
  background: #fff !important;
}

.layout-cauHoi .ant-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-cauHoi .ant-card {
  border-radius: 8px;
}

.layout-cauHoi .ant-card-head-title {
  font-size: 16px;
}

.layout-cauHoi .ant-space {
  display: flex;
  align-items: center;
}

.layout-cauHoi .line {
  flex-shrink: 0;
  border-width: 0px thin 0px 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  height: auto;
  align-self: stretch;
}

.layout-cauHoi main.ant-layout-content {
  background-color: #ffffff;
}

.layout-cauHoi .ant-card.ant-card-bordered {
  margin-bottom: 16px;
  background-color: #ffffff;
  color: rgb(17, 24, 39);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
  display: flex;
  flex-direction: column;
}

.layout-cauHoi ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
  background-color: #ffffff;
}
.layout-cauHoi li.ant-menu-item {
  margin: 4px 0;
  width: 100%;
}

.layout-cauHoi.ant-collapse.ant-collapse-icon-position-start {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 10px 4px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .ant-layout.ant-layout-has-sider.layout-cauHoi {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(217, 217, 217);
    background-color: unset;
    display: flex !important;
    flex-direction: column !important;
  }

  .layout-cauHoi .ant-layout-sider {
    background: #fff !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  .layout-cauHoi .ant-layout-sider {
    background: #fff !important;
    width: 100% !important;
    max-width: 100% !important;
    flex: unset !important;
  }

  .layout-cauHoi .line {
    flex-shrink: 0;
    border-width: 2px thin 0px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    height: auto;
    align-self: stretch;
    margin: 0;
  }

  .layout-cauHoi main.ant-layout-content {
    background-color: #ffffff;
    padding-top: 10px;
  }

  .ant-layout.ant-layout-has-sider > .ant-layout {
    width: 100%;
  }

  .layout-cauHoi .ant-card-head-title {
    display: inline-block;
    flex: 1;
    overflow: unset;
    white-space: unset;
    text-overflow: unset;
  }
}

@media (max-width: 437px) {
  .layout-cauHoi .ant-layout-sider {
    background: #fff !important;
    min-width: 100% !important;
    max-width: 100% !important;
    flex: unset !important;
  }

  .ant-layout.ant-layout-has-sider.layout-cauHoi {
    padding: 12px;
  }

  .ant-card .ant-card-head-title {
    display: inline-block;
    flex: 1;
    overflow: unset;
    white-space: unset;
    text-overflow: unset;
  }
}
