.fc .fc-button-primary {
  background-color: #cf1627;
  border-color: #cf1627;
  color: #fff;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #cf1627;
  border-color: #cf1627;
  color: #fff;
}

.fc .fc-toolbar-title {
  font-size: 25px;
  margin: 0px;
}
.fc .fc-col-header-cell-cushion,
.fc-daygrid-day-number,
.fc-event {
  color: #cf1627;
}
